<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body>
<h1>編集画面</h1>

    <form action="#" th:action="@{/actor}" th:object="${actor}" method="post">
    	<p>ID: [[${actor.id}]] </p> <input type="hidden" th:field="*{id}" />

        <p id = "lname"> 氏: <input type="text" th:field="*{last_name}" /></p>
        <font color="red" id = lname_caution></font>
        <p id = "fname"> 名: <input type="text" th:field="*{first_name}" /></p>
        <font color="red" id = fname_caution></font>

        <p> <a href = '/actor'>戻る</a>
      　<input type="button" value="決定" onClick = "ConfirmEdit();" /> </p>
    </form>
<script th:inline = "javascript">
	function ConfirmEdit(){
		let form = document.getElementsByTagName('form')[0];

		let inputs = document.getElementsByTagName('input');
		let id = inputs[0].value;
		let fName = inputs[1].value;
		let lName = inputs[2].value;

		let caution = 0;

		let conText = "actor_id : "+id+" \nfirst_name: "+fName+"\nlast_name : "+lName;

		conText += "\n\n本当に編集しますか?";

		if (fName.length > 20){
			var fcaution_element = document.getElementById('fname_caution');
			fcaution_element.textContent = '文字数が多すぎます。(20文字以内)';
			caution = 1;

		}

		if (lName.length > 20){
			var lcaution_element = document.getElementById('lname_caution');
			lcaution_element.textContent = '文字数が多すぎます。(20文字以内)';
			caution = 1;
		}



		if(caution == 0 && window.confirm(conText)){
			form.submit();
			return;
		}

	}

</script>

</body>
</html>